.container {
  position: relative;
  overflow: hidden;
  height: 100dvh;
  font-family: "Times New Roman", Times, serif;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.close-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-menu-img {
  width: 1.2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  background: rgba(11, 13, 23, 0.15);
  backdrop-filter: blur(30px);
  width: 65%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.hamburger {
  display: none;
}

.home-content {
  color: #9b9fb7;
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.home-content h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1rem auto;
}

.home-content strong {
  display: block;
  font-size: 4.5rem;
  font-weight: 500;
  margin: 0.65rem 0;
  color: white;
}

.home-content p {
  margin-bottom: 10rem;
}

.home-btn {
  margin: 2rem auto;
  background-color: white;
  border-radius: 50%;
  width: 35%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn__link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
}

/* DESTINATION PAGE */

.container-destination {
  position: relative;
  overflow: hidden;
  min-height: 100dvh;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
}

.destination-title {
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.planet {
  margin: 1rem;
}

.planet-img {
  width: 8rem;
  height: 8rem;
}

.destination-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.destination-content h1 {
  font-size: 1rem;
}

.planet-nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.planet-nav-list li {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
  font-size: 1.25rem;
}

.planet-nav-list li.active {
  border-bottom-color: white;
  font-size: 1.25rem;
}

.planet-nav-list li a {
  text-decoration: none;
  color: white;
}

.destination-content strong {
  font-size: 5rem;
}

.destination-description {
  line-height: 1.75rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: solid 1px grey;
}

.destination-data {
  text-align: center;
}

.destination-data span {
  font-size: 2rem;
  text-transform: uppercase;
}

.number-nav {
  margin-right: 1rem;
  font-weight: bolder;
}

.distance {
  margin-bottom: 1rem;
}

.destination-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    background-color: #181a25;
    padding: 2.3rem;
    flex: 1;
    justify-content: flex-end;
  }

  .nav-links li {
    margin-right: 0.6rem;
  }
  .nav-links span {
    margin-right: 0.5rem;
    font-weight: bolder;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 1.5rem;
  }

  .home-nav a {
    border-bottom: solid 3px white;
    padding-bottom: 2.3rem;
  }

  .number00 {
    display: none;
  }

  .logo {
    margin: 1rem 0rem 0rem 2.5rem;
  }

  .home-content {
    padding: 2rem;
  }

  .home-content h1 {
    font-size: 1.5rem;
  }

  .home-content strong {
    font-size: 8.5rem;
    margin: 0;
  }

  .home-content p {
    margin: 0rem 6rem 1.7rem 6rem;
    font-size: 1.1;
  }

  .home-btn {
    width: 30%;
  }

  .home-btn__link {
    font-size: 1.5rem;
  }

  .close-menu {
    display: none;
  }

  .hamburger {
    display: none;
  }

  /* DESTINATION PAGE */

  .destination-content {
    padding: 1rem 7rem;
  }

  .destination-title {
    text-align: start;
    margin: 2rem 0rem 0rem 3rem;
  }

  .number-nav {
    color: #9b9fb7;
  }

  .destination-content strong {
    font-size: 6rem;
  }

  .destination-description {
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
  }

  .planet-img {
    width: 18rem;
    height: 18rem;
  }

  .planet-nav-list {
    margin-top: 1.6rem;
  }

  .destination-data {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .nav-links {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    background: rgba(11, 13, 23, 0.15);
    backdrop-filter: blur(30px);
    padding: 2.3rem 2.5rem;
    position: relative;
    z-index: 2;
  }

  .nav-links span {
    margin-right: 0.25rem;
    font-weight: bolder;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin-top: 1.5rem;
    position: relative;
  }

  .navbar::before {
    content: "";
    position: absolute;
    left: 7rem; /* Après le logo */
    right: 57%; /* Jusqu'à la moitié, ajuste selon besoin */
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 3;
  }

  .logo {
    margin-left: 2rem;
    position: relative;
    z-index: 2;
  }

  .home-nav a {
    border-bottom: solid 3px white;
    padding-bottom: 2.3rem;
  }

  .home-content {
    min-height: 90dvh;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0 5rem;
  }
  .home-content-text {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .home-content-text h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .home-content-text strong {
    font-size: 8rem;
    margin: 0;
  }

  .home-content-text p {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 8rem;
    margin-bottom: 12rem;
  }

  .home-btn {
    width: 60%;
    margin: 0rem 4rem 14rem 0;
  }

  .home-btn__link {
    font-size: 1.5rem;
  }

  .close-menu {
    display: none;
  }

  .hamburger {
    display: none;
  }

  /* destination page */

  .destination-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    padding-top: 4rem;
  }

  .destination-title {
    text-align: start;
    margin: 0 10rem;
    font-size: 2rem;
  }

  .destination-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
  }

  .destination-description {
    text-align: start;
    padding-bottom: 2rem;
  }

  .planet-img {
    width: 25rem;
    height: 25rem;
  }

  .destination-data {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    text-align: start;
  }

  .destination-data span {
    font-size: 1.5rem;
  }

  .number-nav {
    color: #9b9fb7;
  }
}

@media (min-width: 1440px) {
  .nav-links {
    display: flex;
    gap: 3rem;
    list-style: none;
    background: rgba(11, 13, 23, 0.15);
    backdrop-filter: blur(30px);
    padding: 2.3rem 5rem;
    position: relative;
    z-index: 2;
  }

  .nav-links span {
    margin-right: 0.5rem;
    font-weight: bolder;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin-top: 1.5rem;
    position: relative;
  }

  .navbar::before {
    content: "";
    position: absolute;
    left: 7rem;
    right: 47%;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 3;
  }

  .logo {
    margin-left: 2rem;
    position: relative;
    z-index: 2;
  }

  .home-nav a {
    border-bottom: solid 3px white;
    padding-bottom: 2.3rem;
  }

  .home-content {
    min-height: 90dvh;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0 10rem;
  }
  .home-content-text {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .home-content-text h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .home-content-text strong {
    font-size: 8rem;
    margin: 0;
  }

  .home-content-text p {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 13rem;
    margin-bottom: 15rem;
    font-size: 1.1rem;
  }

  .home-btn {
    width: 55%;
    margin: 0rem 4rem 17rem 0;
  }

  .home-btn__link {
    font-size: 1.8rem;
  }

  .close-menu {
    display: none;
  }

  .hamburger {
    display: none;
  }

  /* destination page */

  .destination-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    padding-top: 4rem;
  }

  .destination-title {
    text-align: start;
    margin: 0 10rem;
    font-size: 2.4rem;
  }

  .destination-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
  }

  .destination-description {
    text-align: start;
    font-size: 1.1rem;
    padding-bottom: 2rem;
  }

  .planet-img {
    width: 25rem;
    height: 25rem;
  }

  .destination-data {
    margin-top: 2rem;
    display: flex;
    gap: 8rem;
    text-align: start;
  }
}

@media (min-width: 1920px) {
  .nav-links {
    display: flex;
    gap: 4rem;
    list-style: none;
    background: rgba(11, 13, 23, 0.15);
    backdrop-filter: blur(30px);
    padding: 2.3rem 8rem;
    position: relative;
    z-index: 2;
    font-size: 1.3rem;
  }

  .nav-links span {
    margin-right: 0.65rem;
    font-weight: bolder;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin-top: 1.5rem;
    position: relative;
  }

  .navbar::before {
    content: "";
    position: absolute;
    left: 9rem;
    right: 47%;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 3;
  }

  .logo {
    margin-left: 4rem;
    position: relative;
    z-index: 2;
  }

  .home-nav a {
    border-bottom: solid 3px white;
    padding-bottom: 2.3rem;
  }

  .home-content {
    min-height: 90dvh;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0 10rem;
  }
  .home-content-text {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .home-content-text h1 {
    margin: 0;
    font-size: 2rem;
  }

  .home-content-text strong {
    font-size: 10rem;
    margin: 0;
  }

  .home-content-text p {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 20rem;
    margin-bottom: 18rem;
    font-size: 1.5rem;
  }

  .home-btn {
    width: 45%;
    margin: 0rem 10rem 19rem 0;
  }

  .home-btn__link {
    font-size: 2rem;
  }

  .close-menu {
    display: none;
  }

  .hamburger {
    display: none;
  }

  /* destination page */

  .destination-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 17rem;
    padding-top: 4rem;
  }

  .destination-title {
    text-align: start;
    margin: 0 10rem;
    font-size: 2.7rem;
  }

  .destination-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
  }

  .destination-description {
    text-align: start;
    font-size: 1.4rem;
    padding-bottom: 2rem;
  }

  .planet-img {
    width: 27rem;
    height: 27rem;
  }

  .destination-data {
    margin-top: 2rem;
    display: flex;
    gap: 8rem;
    text-align: start;
    font-size: 1.5rem;
  }

  .destination-data span {
    font-size: 2.5rem;
  }
}
