.container {
    position: relative;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  background-color: blue;
  width: 65%;
  height: 100vh;
  position: absolute;
  top: 0; 
  right: 0;
  z-index: 10;
  padding: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

main{
    color: #9b9fb7;
    text-align: center;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

main h1 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 1rem auto;


}

main strong {
    display: block;
    font-size: 4.5rem;
    font-weight: 500;
    margin: 0.65rem 0;
    color: white;

}

main p {
    margin-bottom: 2rem;
}

.home-btn {
    margin: 2rem auto;
    background-color: white;
    border-radius: 50%;
    width: 35%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn__link {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
}